<ion-header >
  <ion-navbar color="primary">
    <ion-title>Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h6>All your orders are here</h6>
  <div *ngIf="posts.length!=0">
    <div padding  *ngFor="let p of posts">
        <ion-card>
            <!-- <ion-card-header color="primary"> -->
              <ion-title color="primary">
                {{p.title}}
                
              </ion-title>
            <!-- </ion-card-header> -->
            <ion-card-content>
              {{p.body}}
            </ion-card-content>
            <ion-card-content>
              <button ion-button (click)="viewPhotos(p.id)">view gallery</button>
            </ion-card-content>
          </ion-card>
    </div>
  </div>
  <div *ngIf="posts.length===0" >
    loading...
  </div>
</ion-content>
